<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
       <div class="section-title">
          <h2>Certifications</h2>
          <p><q>We are what we repeatedly do. Excellence, then is not an act, but a habit</q>
             <br><b>Aristotle</b>
          </p>
       </div>
       <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
             <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-spl">Specialization</li>
                <li data-filter=".filter-aux">Auxiliary</li>
                <li data-filter=".filter-event">Events</li>
             </ul>
          </div>
       </div>
       <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-spl">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/1.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-spl">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/2.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-spl">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/3.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-spl">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/4.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>                  
          <div class="col-lg-4 col-md-6 portfolio-item filter-spl">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/15.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/15.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>                     
          <div class="col-lg-4 col-md-6 portfolio-item filter-spl">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/21.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/21.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>                                 
          <div class="col-lg-4 col-md-6 portfolio-item filter-aux">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/8.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-aux">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/5.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-aux">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/6.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-aux">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/22.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/22.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-aux">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/7.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-aux">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/16.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/16.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-aux">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/17.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/17.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>                  
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/9.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/11.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/11.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/12.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/12.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>     
              
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/14.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/14.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>        
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/10.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/10.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/18.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/18.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/20.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/20.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/19.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/19.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/portfolio/13.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/portfolio/13.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>                                                                                                                         
       </div>      
    </div>
</section>

<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
       <div class="section-title">
          <h2>BADGES</h2>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/py.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/py.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/js.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/js.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/club.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/club.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/aws1.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/aws1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/aws2.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/aws2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/aws3.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/aws3.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>                   
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp1.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp2.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp2.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp3.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp3.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp4.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp4.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp6.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp6.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp7.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp7.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp8.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp8.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp9.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp9.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp10.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp10.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp11.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp11.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div>  
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp12.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp12.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp13.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp13.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-badge">
             <div class="portfolio-wrap">
                <img loading="lazy" src="/static/img/badges/gcp14.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                   <div class="portfolio-links"> <a href="/static/img/badges/gcp14.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-show-alt"></i></a> </div>
                </div>
             </div>
          </div> 
       </div>
    </div>            
</section>