<footer id="footer">
    <div class="container">
       <p><q>Have The Courage To Follow Your Heart and Intuition</q>- Steve Jobs</p>
       <div class="social-links"> 
          <a href="mailto:contact@saranmahadev.tech" class="google-plus"><i class="bx bx-envelope"></i></a> 
          <a href="./walloftweets/index.html" class="twitter"><i class="bx bxl-twitter"></i></a> 
          <a href="https://www.instagram.com/_saran_mahadev_" class="instagram"><i class="bx bxl-instagram"></i></a> <a href="https://github.com/saranmahadev" class="linkedin"><i class="bx bxl-github"></i></a> <a href="https://www.linkedin.com/in/saranmahadev" class="linkedin"><i class="bx bxl-linkedin"></i></a></div>
       <div class="copyright"> &copy; Copyright <strong><span>Saran Mahadev</span></strong>. All Rights Reserved </div>
       <div class="credits"> </div>
    </div>
</footer>