<section id="hero" style="background: url('/static/img/hero-bg.webp') top right no-repeat;" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Saran Mahadev</h1>
    <p>I'm <span class="typed" data-typed-items="a Cloud Engineer,a Tech Influencer,a Freelancer"></span></p>
    <div class="social-links"> 
        <a href="" data-bs-toggle="modal" data-bs-target="#visitorsModal" id="countFetchLink">
            <i class='bx bxs-happy-heart-eyes'></i>
        </a>
        <a href="mailto:contact@saranmahadev.tech" class="google-plus"><i class="bx bx-envelope"></i></a>
        <a href="https://www.instagram.com/_saran_mahadev_" class="instagram"><i class="bx bxl-instagram"></i></a> 
        <a href="./walloftweets/index.html" class="instagram"><i class="bx bxl-twitter"></i></a> 
        <a href="https://github.com/saranmahadev" class="linkedin"><i class="bx bxl-github"></i></a> 
        <a href="https://www.linkedin.com/in/saranmahadev" class="linkedin"><i class="bx bxl-linkedin"></i></a> 
    </div>         
    </div>
</section>
