<section id="resume" class="resume">
    <div class="section-title">
       <h2>Education</h2>
       <p><q>Education is the most powerful weapon which you can use to change the world</q>
          <br><b>Nelson Mandela</b>
       </p>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
       <div class="row">
          <div class="col-lg-12">
             <div class="resume-item">
                <h4>Bachelor of Engineering [Computer Science and Engineering]</h4>
                <h5>2019 - 2023</h5>
                <p> <a href="http://gces.edu.in"><i class="bx bxs-school"></i></a> <em>Government College of Engineering, Anna University, IN</em></p>
             </div>
             <div class="resume-item">
                <h4>Higher Secondary Education (I &amp; II) [Computer Science]</h4>
                <h5>2017 - 2019</h5>
                <p><a href="https://www.yrtvschool.com/"><i class="bx bxs-school"></i></a> <em>YRTV Matriculation Higher Secondary School, Sivakasi, IN</em></p>
             </div>
          </div>
       </div>
    </div>
 </section>