<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
    <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bxs-graduation"></i> <span>Education</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class='bx bx-certification'></i> <span>Certifications</span></a></li>
        <li><a href="#testimonials" class="nav-link scrollto"><i class='bx bxs-donate-heart'></i> <span>Testimonials</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        <li>                 
            {% if session | length != 0 %}
            <a href="/logout" class="nav-link" style="background-color: #1c1c1c;">
                <i style="color: #fd9000;" class="bx bx-log-out"></i> <span>Logout</span>
            </a>
            {% else %}
                <a href="/authorize" class="nav-link" style="background-color: #1c1c1c;">
                    <i style="color: #fd9000;" class="bx bx-log-in"></i> <span>Login</span>
                </a>
            {% endif %}
        </li>
    </ul>
    </nav>
</header>