<section id="testimonials" class="testimonials section-bg">
<div class="container" data-aos="fade-up">
    <div class="section-title">
        <h2>Testimonials</h2>
        <q>Just Asked About Me</q> 
    </div>
    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="testimonial-item">
                <img loading="lazy" src="/static/img/testimonials/1.webp" class="testimonial-img" alt="">
                <h3>Ajith</h3>
                <h4>Co-Programmer </h4>
                <p> <i class="bx bxs-quote-alt-left quote-icon-left" style='color:#fd9000'></i> You are a great soul and naturally helpful. You are the one who walks politely with everyone and a Talented intelligent man.You have great programming skills and Not only that but also you have a lot of knowledge and interest to use them.You have excellent leadership qualities and you can lead many people in the right direction with your leadership qualities. If I ask you a question, you give a very detailed and lengthy answer.So when you say the answer, keep it simple and concise without changing the meaning. <i class="bx bxs-quote-alt-right quote-icon-right" style='color:#fd9000'></i>
                    <br>-<q>I will try to make me concise :)</q> 
                </p>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="testimonial-item">
                <img loading="lazy" src="/static/img/testimonials/5.webp" class="testimonial-img" alt="">
                <h3>Mohamed Illiyas </h3>
                <h4>Senior and Co-Programmer</h4>
                <p> <i class="bx bxs-quote-alt-left quote-icon-left" style='color:#fd9000'></i> Saran is kind hearted, hardworking young man with numerous qualities.He is cheerful and easy going person who is a good observant and also a dynamic person who has lots of passion and energy towards technology. He does his work efficiently in all forms in an organised manner. He is a passionate programmer with a huge knowledge. He is Enthusiastic in learning new technologies and new trends. He keeps updating himself in this fast-moving world. Moreover, He is adaptive person who works with any team and give his cooperation at the fullest level for the team. Even though he is a Team player, he can also work independently. I would say, definitly your determination and your persistence will bring you a great success in whatever field, you want to make your foothold. <i class="bx bxs-quote-alt-right quote-icon-right" style='color:#fd9000'></i>
                    <br>-<q>Thank You Bro, Means a Lot to Me :)</q> 
                </p>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="testimonial-item">
                <img loading="lazy" src="/static/img/testimonials/2.webp" class="testimonial-img" alt="">
                <h3>Pandipriya </h3>
                <h4>Bootcamp Co-participant</h4>
                <p> <i class="bx bxs-quote-alt-left quote-icon-left" style='color:#fd9000'></i> Greatly inspired person and a well self developed programmer and also make others to learn coding. He have good leadership quality and a responsible person too.He is a nice talented person who can do every tasks easily and correctly. <i class="bx bxs-quote-alt-right quote-icon-right" style='color:#fd9000'></i>
                    <br>-<q>Thank you, I really appreciate you taking the time to express that</q> 
                </p>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="testimonial-item">
                <img loading="lazy" src="/static/img/testimonials/3.webp" class="testimonial-img" alt="">
                <h3>Niresh Kumar  </h3>
                <h4>College Mate[ECE Dept.]</h4>
                <p> <i class="bx bxs-quote-alt-left quote-icon-left" style='color:#fd9000'></i> SARAN, to be honest u have sound knowledge on programming and as a person you are a man of courtesy and generous heart. You have a capacity to organize a team to a Destiny i.e. leadership skill. I also noticed that you have a very good interpersonal skill. It adds value to you, Keep rocking buddy 😎 <i class="bx bxs-quote-alt-right quote-icon-right" style='color:#fd9000'></i>
                    <br>-<q>Will Do Buddy...!</q> 
                </p>
            </div>
            </div>
            <div class="swiper-slide">
            <div class="testimonial-item">
                <img loading="lazy" src="/static/img/testimonials/4.webp" class="testimonial-img" alt="">
                <h3>Nivedha </h3>
                <h4>Class Mate</h4>
                <p> <i class="bx bxs-quote-alt-left quote-icon-left" style='color:#fd9000'></i> You're really a very good talented person and Knowledged programmer and also good in developing emerging programmers.You have great quality of organizing and making everyone involved in everything and also Good in initiating events and a person who has appreciable talents. <i style='color:#fd9000' class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br>-<q>I would love to take credit, but you are all the one responsible for the Events...!</q> 
                </p>
            </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
</section>