{% extends "layout.html" %}

{% block title %}
Saran Mahadev | Portfolio
{% endblock %}

{% block content %}
   {% include "include/sidenavbar.html" %}   
   {% include "include/hero.html" %}

   {% if session | length != 0 %}
   <main id="main">
      {% include "include/about.html" %}
      {% include "include/resume.html" %}
      {% include "include/skills.html" %}
      {% include "include/certificates.html" %}
      {% include "include/blog.html" %}
      {% include "include/testimonials.html" %}
      {% include "include/contact.html" %}    
   </main>
   {% else %}
      <section id="about" class="about text-center">
         <a href="/authorize">
            <button type="button" class="btn btn-dark rounded" style=" font-size: 48px;">
               <i class='bx bxl-github bx-tada' style='color:#ffffff;'></i> LOGIN
            </button>
         </a>
      </section>            
   {% endif %}
   {% include "include/counter.html" %}
   {% include "include/footer.html" %}
   
   {% block scripts %}
      {% if session | length != 0 %}   
         <script src="/static/js/parser.js"></script>    
         <script src="/static/js/visitors.js"></script>    
      {% endif %}
   {% endblock %}
{% endblock %}