<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}{% endblock %}</title>
        
        <meta content="Saran Mahadev's Portfolio" name="description">
        <meta content="Saran Mahadev" name="keywords">    
        
        <link href="/static/img/favicon.png" rel="icon">
        <link href="/static/img/favicon.png" rel="apple-touch-icon">

        <link href="/static/css/font.css" rel="stylesheet">
        <link href="/static/vendor/aos/aos.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    
        {% block head %}{% endblock %}

   </head>
   <body>
        {% block content %}{% endblock %}

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <script src="/static/vendor/aos/aos.js" type="text/javascript"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="/static/vendor/glightbox/js/glightbox.min.js" type="text/javascript"></script>
        <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js" type="text/javascript"></script>
        <script src="/static/vendor/purecounter/purecounter.js" type="text/javascript"></script>
        <script src="/static/vendor/swiper/swiper-bundle.min.js" type="text/javascript"></script>
        <script src="/static/vendor/typed.js/typed.min.js" type="text/javascript"></script>
        <script src="/static/vendor/waypoints/noframework.waypoints.js" type="text/javascript"></script>
        <script src="/static/js/main.js" type="text/javascript"></script>      
        {% block scripts %}{% endblock %}   
</html>